<html>
  <title>Details for Booking {{car.model}}</title>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
      
      
    }
    table {
      font-size: 15pt;
      border-collapse: collapse;
      margin: auto;
      text-align:left;
    }
    .car_info {
      width: 700px;
      background-color: rgb(237, 243, 251);
      border: 1px solid #ddd;
      padding: 20px;
      box-sizing: border-box;
      text-align: left;
      margin: auto;
    }
    .option_area{text-align:left; display:inline-block;}
  </style>


<body>
  <div style="text-align: center;">
      <h1>Your Deal</h1>
    <hr>
    <div class="car_info">
      <h3>{{car.model}} at {{car.office_name}}</h3> <h5>made by {{car.brand}}</h5>
      <table border="0">
          <th>Capacity:</th><th>{{car.capacity}}</th><th>&emsp;&emsp;</th>
          <th>Mileage:</th><th>{{car.mileage}}</th><th>&emsp;&emsp;</th>
          <tr>
          <th>Color:</th><th>{{car.color}}</th><th>&emsp;&emsp;</th>
          <th>Function:</th><th>{{car.function}}</th><th>&emsp;&emsp;</th>
        </tr><tr>
          <th>Price/day:</th><th>${{car.unit_time_price}}</th><th>&emsp;&emsp;</th>
        </tr><tr>
          <th>&emsp;</th>
        </tr><tr>
          <th>Total Cost:</th><th>${{cost}}</th><th>&emsp;&emsp;</th>
        </tr><tr>
          <th>&emsp;</th>
        </tr><tr>
          <th>Start time:</th><th>{% if start is defined %}{{start}}{% else %}{{today}}{% endif %} {{ "{:02d}:00".format(shour) }}</th><th>&emsp;&emsp;&emsp;</th>
          <th>End time:</th><th>{% if start is defined %}{{end}}{% else %}{{today}}{% endif %} {{ "{:02d}:00".format(ehour) }}</th><th>&emsp;&emsp;&emsp;</th>
        </tr>
      </table>
      <br>
    </div>
    <br>
    <div class="option_area" >
      <form method="POST" action="/bookConfirmed/{{car.car_id}}">
          <input type="hidden" name="start" value="{% if start is defined %}{{start}}{% else %}{{today}}{% endif %}">
          <input type="hidden" name="startHour" value="{{shour}}">
          <input type="hidden" name="end" value="{% if end is defined %}{{end}}{% else %}{{today}}{% endif %}">
          <input type="hidden" name="endHour" value="{{ehour}}">
          <input type="hidden" name="cost" value="{{cost}}">
          <!-- <br>
          <br>
          Insurance: 
          <input type="checkbox" name="insuranceCheck" value="insurance"> -->
          <input type="submit" value="book" style="font-size:12pt;">
      </form>
    </div>
  </div>
  <br>
  <br>

  <div style="text-align:right">
    <form action="/">
      <input type="submit" value="return main page" style="font-size:12pt;">
    </form>  
  </div>

</body>


</html>