<html>
  <title>Car Rental 4111~</title>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    .login {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  </style>


<body>
  <h1>4111-55 Car Rental</h1>

<p><a href="search">Find available cars!</a></p>

<div class="login">
  {% if session.get('user_login') %}
  <form action="/reservation">
    <input type="submit" value="account" style="font-size:12pt;">
  </form>
  <form action="/logout">
    <input type="submit" value="logout" style="font-size:12pt;">
  </form>
  {% else %}
  <form action="/login">
    <input type="submit" value="login" style="font-size:12pt;">
  {% endif %}
  </form>
</div>


</body>


</html>
